html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
/** select2 样式修改 */
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #1AB394;
    border-color: #1AB394;
    padding: 1px 10px;
    color: #fff
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    margin-right: 5px;
    color: rgba(255,255,255,0.7)
}

    .select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
        color: #fff
    }

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-right: 10px
}